<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id = "TestGameState" class="com.example.COMP4004A3.Models.GameState">
        <constructor-arg name ="playerTurn" value = "1"/>
        <constructor-arg name = "players">
            <list>
                <ref bean="TestPlayer1"/>
                <ref bean="TestPlayer2"/>
                <ref bean="TestPlayer3"/>
                <ref bean="TestPlayer4"/>
            </list>
        </constructor-arg>
        <constructor-arg name="stockPile">
            <list>
                <ref bean="2C"/>
                <ref bean="3C"/>
                <ref bean="4C"/>
            </list>
        </constructor-arg>
        <constructor-arg name="discardPile">
            <list>
                <ref bean="JH"/>
                <ref bean="9C"/>
            </list>
        </constructor-arg>
        <constructor-arg name="gameOver" value="false"/>
        <constructor-arg name="roundOver" value="true"/>


    </bean>


    <bean id="TestPlayer1" class="com.example.COMP4004A3.Game.Player">
        <property name="name" value="Player1"/>
        <property name="score" value="10"/>
        <property name="cards">
            <list>
                <ref bean="AS"/>
                <ref bean="3H"/>
                <ref bean="4D"/>
            </list>
        </property>
    </bean>

    <bean id="TestPlayer2" class="com.example.COMP4004A3.Game.Player">
        <property name="name" value="Player2"/>
        <property name="score" value="30"/>
        <property name="cards">
            <list>
                <ref bean="KH"/>
                <ref bean="6H"/>
                <ref bean="8C"/>
            </list>
        </property>
    </bean>

    <bean id="TestPlayer3" class="com.example.COMP4004A3.Game.Player">
        <property name="name" value="Player3"/>
        <property name="score" value="0"/>
        <property name="cards">
            <list>
                <ref bean="KS"/>
                <ref bean="3H"/>
                <ref bean="8D"/>
            </list>
        </property>
    </bean>

    <bean id="TestPlayer4" class="com.example.COMP4004A3.Game.Player">
        <property name="name" value="Player2"/>
        <property name="score" value="50"/>
        <property name="cards">
            <list>
                <ref bean="2H"/>
                <ref bean="8H"/>
                <ref bean="9C"/>
            </list>
        </property>
    </bean>



    <!-- All 52 Card beans are below-->

    <bean id="AS" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="1"/>
    </bean>

    <bean id="2S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="2"/>
    </bean>

    <bean id="3S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="3"/>
    </bean>

    <bean id="4S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="4"/>
    </bean>

    <bean id="5S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="5"/>
    </bean>

    <bean id="6S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="6"/>
    </bean>

    <bean id="7S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="7"/>
    </bean>

    <bean id="8S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="8"/>
    </bean>

    <bean id="9S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="9"/>
    </bean>

    <bean id="10S" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="10"/>
    </bean>

    <bean id="JS" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="11"/>
    </bean>

    <bean id="QS" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="12"/>
    </bean>

    <bean id="KS" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="SPADE"/>
        <constructor-arg name="rank" value="13"/>
    </bean>

    <bean id="AC" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="1"/>
    </bean>

    <bean id="2C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="2"/>
    </bean>

    <bean id="3C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="3"/>
    </bean>

    <bean id="4C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="4"/>
    </bean>

    <bean id="5C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="5"/>
    </bean>

    <bean id="6C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="6"/>
    </bean>

    <bean id="7C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="7"/>
    </bean>

    <bean id="8C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="8"/>
    </bean>

    <bean id="9C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="9"/>
    </bean>

    <bean id="10C" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="10"/>
    </bean>

    <bean id="JC" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="11"/>
    </bean>

    <bean id="QC" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="12"/>
    </bean>

    <bean id="KC" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="CLUB"/>
        <constructor-arg name="rank" value="13"/>
    </bean>

    <bean id="AD" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="1"/>
    </bean>

    <bean id="2D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="2"/>
    </bean>

    <bean id="3D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="3"/>
    </bean>

    <bean id="4D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="4"/>
    </bean>

    <bean id="5D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="5"/>
    </bean>

    <bean id="6D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="6"/>
    </bean>

    <bean id="7D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="7"/>
    </bean>

    <bean id="8D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="8"/>
    </bean>

    <bean id="9D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="9"/>
    </bean>

    <bean id="10D" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="10"/>
    </bean>

    <bean id="JD" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="11"/>
    </bean>

    <bean id="QD" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="12"/>
    </bean>

    <bean id="KD" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="DIAMOND"/>
        <constructor-arg name="rank" value="13"/>
    </bean>

    <bean id="AH" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="1"/>
    </bean>

    <bean id="2H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="2"/>
    </bean>

    <bean id="3H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="3"/>
    </bean>

    <bean id="4H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="4"/>
    </bean>

    <bean id="5H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="5"/>
    </bean>

    <bean id="6H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="6"/>
    </bean>

    <bean id="7H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="7"/>
    </bean>

    <bean id="8H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="8"/>
    </bean>

    <bean id="9H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="9"/>
    </bean>

    <bean id="10H" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="10"/>
    </bean>

    <bean id="JH" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="11"/>
    </bean>

    <bean id="QH" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="12"/>
    </bean>

    <bean id="KH" class="com.example.COMP4004A3.Game.Card">
        <constructor-arg name = "suit" value="HEART"/>
        <constructor-arg name="rank" value="13"/>
    </bean>

</beans>